<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083102034232-1g77gdf8g083qcbb9l8mn8itm7c8lupe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083102034232-1g77gdf8g083qcbb9l8mn8itm7c8lupe</string>
	<key>API_KEY</key>
	<string>AIzaSyCZRZGHCbhjs_buYbSHrJEbU5EI1rV7t_s</string>
	<key>GCM_SENDER_ID</key>
	<string>1083102034232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ri.petty</string>
	<key>PROJECT_ID</key>
	<string>petty-42489</string>
	<key>STORAGE_BUCKET</key>
	<string>petty-42489.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083102034232:ios:010ac7d84fcefe03f6a9cd</string>
</dict>
</plist>